div{
    text-align: center;
    padding-bottom: 40px;
    h1{
        color: #333;
    }
    p{
        margin: 0 auto;
        line-height: 25px;
        text-align: center;
        font-weight: 600;
        width: 35%;
        color: #999999;
    }
}