.del {
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    float: right;
  }
  
  .todo {
    background: white;
    padding: 0.4em 1.5em;
    border-bottom: 1px #ccc dotted;
  }

  
  
  .is-complete {
    text-decoration: line-through;
  }